* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif !important;
}

.nav_space_between {
  row-gap: 20px;
  margin-left: -100px !important;
}

.nav-center ul{
  margin-left: -100px;
}

.btn-panjang {
  width: 100px;
  margin-right: 20px;
}

.nav-left {
  font-weight: bold;
  margin-left: 10px;
}

.section {
  display: flex;
  justify-content: space-between;
}

.judul{
  color :#2155CD;
}

.card-text {
  color : #000;
}


.section h1 {
  font-size: 55px;
  font-weight: 700;
  margin-top: 30px;
}

.test_ubah {
  background: #2155cd !important;
}

.centered-wrapper {
  margin: auto;
  width: 500px;
  height: 650px;
}

.wrapper-upload {
  position: absolute;
  background-color: white;
  width: inherit;
  height: 500px;
}

.dashed-border {
  margin-top: 50px !important;
  margin: auto;
  width: 300px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%232155CDFF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 10px;
  height: 300px;
}

.image-container{
  margin: 20px 130px;
}

.btn-prediksi {
  margin: 00px 140px;
  width: 214px;
}

.dashed-border > img {
  margin-left: 125px;
  margin-top: 50px;
}

.dashed-border > p:first-of-type {
  margin-top: 20px;
  color: #2155cd;
}

.dashed-border > p {
  margin-top: -10px;
  color: #2155cd;
}

.dashed-border > button {
  margin-left: 75px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  margin-left: 75px;
  border: 1px solid #2155cd;
  /* display: inline-block; */
  padding: 6px 12px;
  color: #2155cd;
  cursor: pointer;
}

.add-height{
  height: 550px;
}


#filename-span{
  color: #2155CD;
  margin-top: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-group > div {
  max-width: 356px;
  background-color: #d9d9d9;
  border-radius: 10px;
  transition: 0.3s;
}


#kartu:hover {
  max-width: 356px;
  background-color: #2155cd;
  border-radius: 10px;
  color: #fff;
}

.card-title:hover{
  color: #fff;
}


.image-container{
  margin: 20px 130px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.tentang {
  padding: 20px 0;
}

.teknologi {
  align-items: center;
}

.deskripsi {
  display: flex;
  flex-direction: row;
}

.layanan {
  display: flex;
  flex-direction: row;
}

.layanan {
  color: #2155cd;
}

.bekerja {
  display: flex;
  flex-direction: row;
}

.bekerja > img {
  max-width: 355px;
  height: auto;
}

#prediction-list{
  margin: 10px 100px 0;
}

#text-hidden{
  margin: 10px 100px 0;
}

.hidden{
  display: none !important;
}

.div-result{
  margin-top: 10px;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  background-color: #0AA1DD;
}

#clear-button{
  margin-top: 20px;
}


@media only screen and (max-width: 780px) {
  .deskripsi {
    flex-direction: column-reverse;
    margin: auto;
  }

  .layanan {
    flex-direction: column;
    align-items: center;
  }

  .tentang {
    margin: auto;
  }

  .bekerja {
    flex-direction: column;
    align-items: center;
  }
}
